@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Covered+By+Your+Grace&family=Playwrite+AU+SA:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #05101c;
}
@keyframes scroll {
  0% {
    transform:translateX(0);
  }
  100% {
    transform: translateX(-300%);
  }
}

.bar1{
  animation: scaleUp 1s linear infinite;

}
.bar2{
    animation-delay: .25s;

}
.bar3{
  animation-delay: .5s;
}
@keyframes scaleUp {
  20% {
    background-color: #fff;
    transform: scaleY(1.5);
  }

  40%{
    transform: scaleY(1);
  }

}





 